.on{
    display: grid;
}

.off{
    display: none;
}

.center{
    align-items: center;
    justify-content: center;
}

.on-flex{
    display: flex;
}


.size-15px{
    font-size: 13px !important;
}


