<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="{{ url_for('static', filename = 'JS/login.js')}}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/utilty-clases.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <header>
        <img src="" alt="">
    </header>
</head>
<body>
    
    <div class="space" >
        <div class="card">
            <div class="login">
                <p>Inicio de Sesion</p>
                <img src="{{ url_for('static', filename='images/user.avif') }}" alt="">
                <form action="{{ url_for('login_usuario') }}" method="post" id="form">
                    <label for="" id="label-one"></label>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <label class="{{ category }}" id="label-three">{{ message }}</label>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <br>
                    <i class="fa-regular fa-user icon-color"></i>
                    <input type="text" placeholder="Matricula" name="matricula" id="matricula" >
                    <br>
                    <br>
                    <label for="" id="label-two"></label>
                    <br>
                    <i class="fa-solid fa-lock icon-color"></i>
                    <input type="password" placeholder="Contraseña" name="contraseña" id="contraseña">
                    <br>
                    <br>
                    <button type="submit" class="send" id="enviar"><span>Ingresar</span></button>
                    
                </form>
            </div>

            <div class="carrusel">
                <img id="carrusel" src="{{ url_for('static', filename = 'images/utvt1.jpg') }}">
            </div>

            <script>
                const imagenes = [
                    "{{ url_for('static', filename = 'images/utvt1.jpg') }}",
                    "{{ url_for('static', filename = 'images/utvt2.jpg') }}",
                    "{{ url_for('static', filename = 'images/utvt3.jpg') }}"
                ]

                const imagen = document.getElementById('carrusel');
                let indice = 0;

                setInterval(() => {
                    setTimeout(() => {
                    indice = (indice + 1) % imagenes.length;
                    imagen.src = imagenes[indice];
                        }, 500);
                }, 5000);
            </script>

        </div>
    </div>

    <div class="modal" id="modal">
       <div class="modal-card" id="modal-card">
            <div class="modal-text">
                <p id="text-card"></p>

                <button id="close-button"><i class="fa-solid fa-crow icon-color"></i><p>Bienvenido</p></button>
            </div>

            <div class="modal-image">
                 <img src="{{ url_for('static', filename='images/logo.png') }}" alt="">
            </div>
       </div>

    </div>
    
    <footer>
        <a href="https://www.youtube.com/channel/UCDOXPYQLQZs8uj88ESJiTlA/videos" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://www.facebook.com/utvtol/?locale=es_LA" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/utvtoficial/?hl=es" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://utvt.edomex.gob.mx/" target="_blank"><i class="fa-solid fa-globe"></i></a>
        <a href="https://www.tiktok.com/discover/utvt-universidad-tecnologica-de-toluca" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
    </footer>
</body>
</html>