<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static' , filename = 'styles/student-feed.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/utilty-clases.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <script src="{{url_for('static' , filename='JS/student-feed.js')}}" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    <header>
        <button class="bars center" id="bars"><i class="fa-solid fa-bars " id="icon-bars"></i></button>
        <p>ReNova UTVT</p>
        <form action="/exit" method="post">
            <button class="exit" name="exit"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
        </form>
    </header>

    <aside class="off" id="aside">
        <button class="estado" id="home">
            <i class="bi bi-house-door"></i>
            <p>Inicio</p>
        </button>
        
        <button id="calificaciones">
            <i class="bi bi-mortarboard"></i>
            <p>Mis calificaciones</p>
        </button>
        
        <button id="horario">
            <i class="bi bi-clock"></i>
            <p>Mi Horario</p>
        </button>
        
        <button id="calendario">
            <i class="bi bi-calendar"></i>
            <p>Calendario</p>
        </button>
        
        <button id="profesores">
            <i class="bi bi-person-video3"></i>
            <p>Profesores</p>
        </button>

    </aside>

    <div class="feed-container on " id="feed-container">
        <div class="calificaciones fondo1" id="calificaciones-card">
            <i class="fa-solid fa-pen-nib"></i>
            <h1>Calificaciones</h1>
            <h2>Aqui encontraras tus calificaciones</h2>
            <Button id="card-calificaciones">Vamos</Button>
        </div>

        <div class="horario fondo2" id="horario-card">
            <i class="fa-solid fa-clock"></i>
            <h1>Mi Horario</h1>
            <h2>Tiempo de clase</h2>
            <Button id="cardh">Vamos</Button>
        </div>

        <div class="calendario fondo3" id="calendario-card">
            <i class="fa-solid fa-calendar-days"></i>
            <h1>Calendario</h1>
            <h2>Fechas Importantes</h2>
            <Button id="card-calendario">Vamos</Button>

        </div>

        <div class="profesores fondo4" id="profesores-card">
            <i class="fa-solid fa-user-tie"></i>
            <h1>Profesores</h1>
            <h2>Los mejores en su área</h2>
            <Button id="card-profesores">Vamos</Button>
        </div>

        <div class="student-info fondo5" id="student-card">
            <i class="fa-solid fa-school"></i>
            <h1>Tu</h1>
            <h2>Información personal</h2>
            <Button id="Información-personal-button">Vamos</Button>
        </div>

        <div class="Información-personal on-flex">
            <p id="mat"></p>
            <p id="nom"></p>
            <p id="fecha"></p>
            <p id="estado"></p>
            <p id="rfc"></p>
            <p id="curp"></p>
            <p id="domicilio"></p>
        </div>
    </div>

    <div class="calificaciones-panel off" id="calificaciones-panel">
        <div class="panel-info">
            
            <img src="{{ url_for('static' , filename = 'images/logo.png')}}" alt="">
            <p class="name" id="nombre-completo"></p>

            <p class="matricula" id="matricula">Matrícula: </p>

         

            <p class="correo" id="correo">Correo: </p>

        </div>

        <div class="resumen-academico">

            <div>
                <i class="fa-solid fa-brain"></i>
                <p>Promedio</p>
                <p id="promedio"></p>
            </div>

            <div>
                <i class="fa-solid fa-book"></i>
                <p>Materias</p>
                <p id="numer_materia"></p>
            </div>

            <div>
                <i class="fa-solid fa-percent"></i>
                <p>Avance</p>
                <p></p>
            </div>

        </div>


        <div class="faltas">
            <p>Faltas</p>
            <p>PROXIMAMENTE</p>

        </div>

        <div class="notes-container">
            <div class="select-tittle">
                <p class="curso" id="curso">Cuatrimestre: </p>
                    <select name="cuatrimestre" class="curso" id="cuatrimestre-select" required>
                        <option value="">Seleccione una opción</option>
                        <option value="Primero">Primero</option>
                        <option value="Segundo">Segundo</option>
                        <option value="Tercero">Tercero</option>
                        <option value="Cuarto">Cuarto</option>
                        <option value="Quinto">Quinto</option>
                        <option value="Sexto">Sexto</option>
                        <option value="Septimo">Septimo</option>
                        <option value="Octavo">Octavo</option>
                        <option value="Noveno">Noveno</option>
                        <option value="Decimo">Decimo</option>
                </select>
                <button id="cuatrimetre-boton">enviar</button>
                <h2 class="margin-left">Tabla de Calificaciones</h2>
            </div>
                <table>
                    <thead>
                        <tr>
                            <th>Materia</th>
                            <th>Profesor</th>
                            <th>Evaluación 1</th>
                            <th>Evaluación 2</th>
                            <th>Evaluación 3</th>
                            <th>Promedio General</th>
                            <th>Extraordinario</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody id="cuerpo-tabla">
                        
                     </tbody>
                </table>
        </div>

    </div>

    <div class="horario-container off" id="feed-horario">
        <h1>Horario del Estudiante</h1>

        

        <div class="horario-table-container">
            <img src="{{url_for('static' , filename = 'images/Horario.webp')}}" alt="">

        </div>
    </div>

    <div class="feed-calendar off" id="feed-calendar">
        <div class="calendar-container">
            <h1>Calendario Escolar</h1>
            <img src="{{url_for('static'  , filename='images/calendario.png')}}" alt="">
        </div>
    </div>

    <div class="feed-teacher off" id="feed-teacher"> 
        <!-- <section class="feed-teacher__card">
            <div class="cortina">
            </div>
            <img src="{{url_for('static' , filename='images/user.avif')}}" alt="" class="feed-teacher__img">
            <h1>Dr.Norma Maya</h1>
            <p>Especialidad en Redes</p>
            <p>al1312321.@gmail.com</p>
            <p>1qs32dSm</p>
        </section>   -->
    </div>
</body>
</html>