<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/app/static/styles/teacher-feed.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/app/static/styles/utilty-clases.css">
    <script src="/app/static/JS/teacher-feed.js" defer></script>
</head>
<body>
    <header>

    </header>

    
    
    <div class="buscador">
            
    </div>

    <div class="grupos">

    </div>


    <div class="grafica">

    </div>

    
    
        
</body>
</html>
